@media (max-width: 900px) {
    html {
        font-size: 50%;    
    }
    
    .section__card {
        display: flex;
        flex-direction: column;
        max-width: 50rem;
    }

    .cards__1 {
        margin-right: 0;
        margin-bottom: 3rem;
    }

    .cards__2 {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

@media (max-width: 500px) {
    .text {
        width: 90%;
    }
}